src/.asciidoctor
*.cache
src/*.png
src/*.svg
src/node_modules
src/package-lock.json
*.aux
*.bbl
*.blg
*.log
*.out
*.txt
*.bcf
*.pdf
*.pytxcode
*.run.xml
*.toc
*.synctex.gz
*.acn
*.glo
*.ist
*.tdn
*.idea
.DS_Store/
.DS_Store
*.DS_Store
